confz==2.0.1
fastapi==0.115.6
gradio==5.9.1
grandalf==0.8
jupyterlab>3.0
langchain==0.3.14
langchain-community==0.3.14
langchain-milvus==0.1.7
langchain-nvidia-ai-endpoints==0.3.7
langchain-openai==0.2.14
langserve==0.3.1
opentelemetry-instrumentation-fastapi==0.50b0
pydantic
pymilvus==2.5.3
pypdf
redis==5.2.1
sse-starlette==2.2.1
uvicorn==0.34.0
watchfiles==1.0.3
