# required by the chain server
confz~=2.0.1
fastapi~=0.111
gradio~=4.31.5
grandalf~=0.8
langchain-nvidia-ai-endpoints~=0.1.0
langchain-openai~=0.1.7
langchain~=0.1.20
langserve~=0.1.1
opentelemetry-instrumentation-fastapi==0.45b0
pydantic
pymilvus~=2.4.0
redis~=5.0.4
sse_starlette~=2.1.0
uvicorn

# required by workbench
jupyterlab>3.0
