flowchart LR

    %% rag retrieval
    {% if use_kb %}ret <-....-> db[("fa:fa-building\nEnterprise\nData (Milvus)")]{% endif %}


    %% primary chain
    query(fa:fa-user Query) -->
    {% if use_rewrite %}rewrite(Prompt\nRewrite) -->{% endif %}
    %% optional retrieval step
    {% if use_kb %}ret(Embedding):::nvidia -->{% endif %}
    {% if use_reranker %}rerank(Reranker):::nvidia -->{% endif %}
    dot0(( )) --> prompt(LLM Context) -->
    llm(LLM):::nvidia -->
    answer(fa:fa-comment-dots Answer)


    %% history injection
    hist[(Chat\nHistory)] --> dot0
    {% if use_rewrite %}hist --> rewrite{% endif %}


    %% styles
    classDef nvidia fill:#76b900,stroke:#333,stroke-width:1px;
